/**
 *	Fruit Search Project
 *	Unit [11] of Springboard SWE Bootcamp
 *
 *	Solution by José Delpino
 *
 */

* {
  /* box-sizing: border-box; */
}

:focus {
  /* TODO */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  /* Linear gradient from left to right and citrus theme */
  background: linear-gradient(to right, #f5dc5e, #f58004);
}

input {
  background-color: #fdc468;
  position: relative;
  /* TODO */
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 1.2rem; /* Set initial padding */
}

@media screen and (min-width: 750px) {
  .search-container {
    padding: 2.1rem; /* Override padding on medium screens */
  }
}

@media screen and (min-width: 1100px) {
  .search-container {
    padding: 2.8rem; /* Override padding on large screens */
  }
}

@media screen and (min-width: 1500px) {
  .search-container {
    padding: 3.6rem; /* Override padding on extra large screens */
  }
}

.search-container input,
.search-container .suggestions {
  /* TODO */
}
.search-container input {
  /* TODO */
}
.search-container .suggestions {
  /* TODO */
}

ul {
  /* TODO */
}
ul.has-suggestions {
  /* TODO */
}
ul li {
  /* TODO */
}
ul li:hover {
  /* TODO */
}

input {
  /* TODO */
}

.fruit-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

/* Hiding elements for accessibility and other reasons */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
