/**
 *	Fruit Search Project
 *	Unit [11] of Springboard SWE Bootcamp
 *
 *	Solution by José Delpino
 *
 */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1, 1, auto;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  /* Linear gradient from left to right and citrus theme */
  background: linear-gradient(to right, #efb84a, #f57307);
  overflow-x: hidden;
  overflow-y: scroll;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  border: 3.5px double #569c56;
  box-sizing: border-box;
  pointer-events: none;
}

.search-container {
  position: relative;
  width: 320px;
  display: flex;
  flex-direction: column;
  padding-top: 1.2rem;
  padding-left: 1.2rem;
  padding-bottom: 10px;
  padding-right: 10px;
  flex: 1, 1, auto;
  overflow: auto;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.search-container input,
.search-container .suggestions {
  position: relative;
  border: 1px #427f42 solid; /* Fern Green */
  border-radius: 5px;
  box-shadow: 4px 4px 7px 1px rgba(80, 43, 2.8, 0.5); /* Bistre */
  font-size: 0.9em;
}

.search-container input {
  height: 35px;
  width: 90%;
  color: #437ad2; /* Han Blue */
  background-color: #fdc467; /* Koromiko */
}

.search-container input::placeholder {
  color: #658bc9; /* Glaucous*/
  font-weight: 500;
  opacity: 1;
}

.search-container input:focus::placeholder {
  color: #437ad2; /* Han Blue */
}

.search-container input[type="text"] {
  padding-left: 15px;
}

.search-container input:focus {
  border: 1.3px solid #2f862f; /* Japanese Laurel */
  outline: none;
  background-color: #fcc05f; /* Koromiko */
  box-shadow: 4px 4px 6px 1px rgba(86, 48, 4, 0.6);
}

.suggestions {
  position: relative;
  width: 70%;
  height: auto;
  margin-top: 10px;
  margin-left: 20px;
  color: #437ad2; /* Han Blue */
  background-color: #fcc05f; /* Koromiko */
  opacity: 1;
}

.suggestions ul {
  list-style-type: none;
  line-height: 1.3;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.suggestions ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.suggestions ul li:hover {
  background-color: #fbaf34ae; /* Marigold */
  color: #205dbe; /* Denim */
}

.suggestions ul li:first-child {
  padding-top: 8px;
  border-radius: 5px 5px 0px 0px;
}

.suggestions ul li:last-child {
  padding-bottom: 10px;
  border-radius: 0px 0px 5px 5px;
}

.fruit-container {
  position: relative;
  width: 85vw;
  margin: 10px auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 0.9fr));
  grid-auto-rows: minmax(280px, auto);
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  align-items: start;
  padding: 1rem;
  margin-left: 1.1rem;
  flex: 1, 1, auto;
  overflow: visible;
  align-self: auto;
}

.fruit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdc36765; /* Koromiko with intense transparency*/
  /* background-color: #7a62b628; Martinique with a lot of transparency */
  /* background-color: #6031d71c; Valhalla with a lot of transparency */
  border: #6d400a3e solid 1px; /* Acadia with transparency*/
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 11px 1px rgba(80, 43, 2.8, 0.5); /* Bistre */
}

/* Media Queries */

@media screen and (max-width: 750px) {
  .search-container {
    font-size: 0.85em;
  }

  .fruit-container {
    grid-template-columns: repeat(auto-fill, minmax(315px, 0.89fr));
    margin-left: 0.2rem;
  }
}

@media screen and (max-width: 400px) {
  .search-container {
    width: 280px;
    color: #336ecc; /* Mariner */
  }

  input {
    height: 32px;
  }

  input::placeholder {
    color: #336ecc; /* Mariner */
  }

  .fruit-container {
    grid-template-columns: repeat(auto-fill, minmax(220px, 0.87fr));
  }
}

@media screen and (max-width: 350px) {
  .search-container {
    width: 220px;
  }

  input {
    height: 30px;
  }

  .fruit-container {
    grid-template-columns: repeat(auto-fill, minmax(190px, 0.8fr));
  }
}

@media screen and (min-width: 750px) {
  .search-container {
    padding-top: 2.1rem;
    padding-left: 2.1rem;
  }
}

@media screen and (min-width: 1150px) {
  body {
    background: linear-gradient(to right, #edb23b, #f57404);
  }

  .search-container {
    padding-top: 2.8rem;
    padding-left: 2.8rem;
    width: 370px;
  }

  input {
    height: 35px;
  }

  .fruit-container {
    margin-left: 1.8rem;
  }
}

@media screen and (min-width: 1500px) {
  body {
    background: linear-gradient(to right, #edaf32, #f67401);
  }

  .search-container {
    padding-top: 3.6rem;
    padding-left: 3.6rem;
  }

  .fruit-container {
    margin-left: 2.6rem;
  }
}

/* Hiding elements for accessibility and other reasons */
.visually-hidden {
  display: none;
}

.visually-hidden-accesible {
  position: absolute;
  width: 0px;
  height: 0px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
